<div class="container">
  <div class="jumbotron">
    <h1>The Grand Hotel</h1>
  </div>
Date: {{date | date}}
</div>



<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"> <a (click)="viewMode='map'">Check Idlies are available or not</a></li>
    <li [class.active]="viewMode=='list'"> 
      <a (click)="viewMode='list'">List Items </a>
    </li>
</ul>


<div [ngSwitch]="viewMode">
       <div *ngSwitchCase="'map'">
           <p *ngIf="validateLength(); then templ1 else templ2"> </p>
            <ng-template #templ1>
              <br>
              <br>
              Yes, Idlies are available
            </ng-template>

            <ng-template #templ1 >
              <br><br>
              No, Idly over. Come later
            </ng-template>
        </div>
        <div *ngSwitchCase="'list'">
        <br><br>
        
        <li *ngFor="let item of items" class='li'>
          {{item.name}}
          </li>
        


          
        </div>
</div>